@inherits LayoutComponentBase
@using Parquet;

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <sub>based on <strong>Parquet.Net @libVersion</strong></sub>
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            <a href="https://github.com/aloneguid/parquet-dotnet" target="_blank">Parquet.Net</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private string? libVersion = typeof(ParquetReader).Assembly.GetName().Version?.ToString();
}
