@inherits LayoutComponentBase
@using Parquet;

<RadzenLayout class="rz-shadow-3">
    <RadzenHeader>
        <div class="d-flex align-items-center">
            <RadzenSidebarToggle Click="@(() => sidebarExpanded = !sidebarExpanded)" />
            <RadzenLabel Text="Parquet Online" />
        </div>
    </RadzenHeader>
    <RadzenSidebar @bind-Expanded="@sidebarExpanded" Style="width: 200px">
        <RadzenPanelMenu>
            <RadzenPanelMenuItem Text="Viewer" Icon="table_view" Path="/" />
            <RadzenPanelMenuItem Text="Schema" Icon="schema" Path="/schema" />
            <RadzenPanelMenuItem Text="About" Icon="account_box" Path="/about" />
        </RadzenPanelMenu>
    </RadzenSidebar>
    <RadzenBody>
        <div class="p-2">
            @Body
        </div>
    </RadzenBody>
</RadzenLayout>

@code {
    bool sidebarExpanded = false;
}