@inherits LayoutComponentBase
@using Parquet;

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            Built with
            <strong>
                <a href="https://github.com/aloneguid/parquet-dotnet/releases/tag/@Parquet.Globals.Version" target="_blank">Parquet.Net @Parquet.Globals.Version</a>
            </strong>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
