@using Parquet.Rows;
@using Parquet.Schema;
@using System.Collections;

@if(Field != null)
{
    if(Field.SchemaType == SchemaType.Data)
    {
        if(Field is DataField df)
        {
            object? v = Row?[ValueIndex];

            if(df.IsArray)
            {
                <div class="d-flex flex-row">
                    @if(v is IEnumerable ie)
                    {
                        foreach(object? iv in ie)
                        {
                            <div class="border p-1 m-1">@iv</div>
                        }
                    }
                </div>
            }
            else
            {
                if(v == null)
                {
                    <i>null</i>
                }
                else
                {
                    @v
                }
            }
        }
    }
    else if(Field.SchemaType == SchemaType.Struct || Field.SchemaType == SchemaType.Map)
    {
        if(Row?[ValueIndex] is Row r1)
        {
            string jsonString = r1.ToString("j");
            <span class="pretty-json">@jsonString</span>
        }
    }
    else
    {
        <strong>todo: @Field.SchemaType</strong>
    }
}

@code {
    [Parameter]
    public Row? Row { get; set; }

    [Parameter]
    public int ValueIndex { get; set; }

    [Parameter]
    public Field? Field { get; set; }
}
