@using Parquet.Schema;
@using System.Reflection;
@using System.Collections;
@using System.Text.Json;

@if(ThriftMeta != null)
{
    <div style="overflow: scroll; max-height: 800px;">
        <pre>
            @GetFormattedJson()
        </pre>
    </div>
}
else
{
    <strong>no thrift</strong>
}

@code {

    [Parameter]
    public Parquet.Thrift.FileMetaData? ThriftMeta { get; set; }

    public string? GetFormattedJson()
    {
        if (ThriftMeta == null) return null;

        return JsonSerializer.Serialize(ThriftMeta, new JsonSerializerOptions { WriteIndented = true });
    }
}
