@page "/about"

<PageTitle>About</PageTitle>

<p>
    <ul>
        <li>
            <RadzenLink Path="@libLink" Target="_blank">
                Usint Parquet.Net @Parquet.Globals.Version
            </RadzenLink>
        </li>
        <li>
            <RadzenLink Path="https://github.com/aloneguid/parquet-online" Target="_blank">GitHub Repo</RadzenLink>
        </li>
    </ul>
</p>

@code {
    string libLink = $"https://github.com/aloneguid/parquet-dotnet/releases/tag/{Parquet.Globals.Version}";
}