@page "/"
@using Parquet;
@using Parquet.Schema;
@using ParquetViewer.WebAdapters;
@using System.Text;
@using Toolbelt.Blazor.FileDropZone

<PageTitle>Index</PageTitle>

<p>
    <FileDropZone class="drop-zone">
        Choose or drop a parquet file<br/>
        <InputFile OnChange="@LoadFile"/>
    </FileDropZone>
</p>

<p>
    <ManagedSchema Schema="@schema"/>
</p>

<p>
    <ThriftView ThriftMeta="@thrift"/>
</p>

@if(error != null)
{
    <div class="alert alert-danger" role="alert">
        @error
    </div>
}

@code {
    ParquetSchema? schema = null;
    string? error = null;
    Parquet.Thrift.FileMetaData? thrift = null;

    private async Task LoadFile(InputFileChangeEventArgs e)
    {
        try
        {
            IBrowserFile file = e.File;
            using (var bs = new BlazorFileStream(file, long.MaxValue))
            {
                using (var reader = await ParquetReader.CreateAsync(bs))
                {
                    schema = reader.Schema;
                    thrift = reader.ThriftMetadata;
                }
            }

            error = null;
        }
        catch(Exception ex)
        {
            error = ex.ToString();
            schema = null;
            thrift = null;
        }
    }
}