@page "/schema"
@using Parquet;
@using Parquet.Rows;
@using Parquet.Schema;
@using ParquetViewer.WebAdapters;
@using System.Text;
@using Toolbelt.Blazor.FileDropZone

<PageTitle>Schema Explorer</PageTitle>

@if (!GFile.HasFile)
{
<p>
    <div class="alert alert-info" role="alert">
        no file is open
    </div>
</p>
}
else
{
<p>
    <RadzenCard>
        <RadzenAccordion>
            <Items>
                <RadzenAccordionItem Text="Managed Schema" Icon="account_balance_wallet" Selected=true>
                    <ManagedSchema Schema="@GFile.ManagedSchema" />
                </RadzenAccordionItem>
                    <RadzenAccordionItem Text="Raw Thrift Schema" Icon="account_balance_wallet">
                        <ThriftView ThriftMeta="@GFile.ThriftMetadata" />
                    </RadzenAccordionItem>
            </Items>
        </RadzenAccordion>
    </RadzenCard>

</p>
}